@charset "UTF-8";


.board_title{
	font-weight: bold;
	font-size: 25px;
	margin-top: 50px;
	margin-bottom: 15px;
}

.borad_post_item{
	margin-bottom: 10px;
}

.post_list{
	width: 100%;
}

.post_list_item{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 15px 0px 15px 0px;
	border-bottom: 1px solid black;
	align-items: center;
}

.post_list_num{
	width: 5%;
}

.post_list_title{
	width: 75%;
}

.post_list_user{
	width: 10%;
}

.post_list_date{
	width: 10%;
}


.board_page_list{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 20px;
	float: left;
}

.board_page_list_num{
	margin-right: 10px;	
}

.board_prev_button{
	float: left;
	margin-top: 50px;
	margin-left: 400px;
}

.board_next_button{
	float: left;
	margin-top: 50px;
	margin-left: 10px;
}

.board_post_button{
	margin-top: 40px;
	margin-bottom: 50px;
	padding: 10px 20px;
	float: right;
}