@charset "UTF-8";

.cart_title{
	font-weight: bold;
	font-size: 25px;
	margin-top: 50px;
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
}

.cart_list{
	margin-top: 30px;
	width: 950px;
}
.cart_list_item{
	margin-bottom: 50px;
}
.cart_list_item_box {
	display: flex;
}
.cart_list_item_img{
	width: 200px;
	margin-right: 50px;
}

.cart_list_item_info{

	width: 300px;
}

.cart_list_item_author{

	margin-right: 30px;
}


.cart_list_item_price{

	margin-right: 50px;
	font-weight: bold;
}

.cart_payment_check{
	float:right;
	margin-top: 50px;
	height: 100%;
	width: 200px;
	border:2px solid gold;
	border-radius: 4px;
	padding: 20px;
}


.cart_payment_title{
	font-weight: bold;
	font-size: 15px;
}

.cart_payment_price{
	font-weight: bold;
	font-size: 30px;
}

.cart_payment_button{
	padding: 10px 40px;
}
.cart_list_delete {
	height: 30px;
	width: 200px;
}