@charset "utf-8";

.container {
	width: 1200px;
    margin: 0 auto;
}

#gnb_top {
    z-index: 20;
    padding-top: 10px;
}

#gnb_top_box {
	float: right;
}

#gnb_mid {
	display: flex;
	padding-top: 36px;
	align-items: center;
	justify-content: space-between;
	clear: both;
}

#logo {
	width: 200px;
}

#search_form {
	overflow: hidden;
	position: relative;
	margin-right: 100px;
}
	
#input-wrapper {
	padding: 0px 10px 0px 0px; /* Right padding for submit button width */
	overflow: hidden;
	width: 700px;
	
}
#search_input {
	width: 100%;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 46px;
 	padding: 0 0px 0 0px;
	border-color: #888;
	border-radius: 25px; /* (height/2) + border-width */
	border-style: solid;
	border-width: 5px;
	margin-top: 15px;
	color: #333;
	font-family: 'Helvetica', sans-serif;
	font-size: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
#search_submit {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 46px;
  	padding: 0;
  	border: none;
	margin-top: 20px; /* margin-top + border-width */
	margin-right: 5px; /* border-width */
	background: transparent;
	color: #888;
	font-family: 'Helvetica', sans-serif;
	font-size: 40px;
	line-height: 60px;
}

#search_input:focus {
	outline: none;
	border-color: #333;
}

#search_submit:hover {
	color: #333;
	cursor: pointer;
}

#gnb_bottom {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: start;
}
#category {
	font-size: 1.3rem;
	font-weight: bold;
}
#gnb_bottom_box {
	margin-left: 100px;
}
.gnb_bottom_item {
	margin: 20px 0px 20px 0px;
	font-weight: bold;
	padding : 0px 30px 0px 30px;
	border-right: 1px solid black;
}
.gnb_bottom_item:last-child {
	border-right: none;
}

footer {
	display: flex;
	align-items: center;
	text-align: center;
	background-color: #000000;
	color: white;
	height: 200px;
}
footer div {
	font-size: 3rem
}