@charset "UTF-8";

.myinfo_title{
	font-weight: bold;
	font-size: 25px;
	margin-top: 100px;
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
}
.myInfo_container {
	text-align: center;
}
.myInfo_page {
	margin: 30px 0px;
}
.myinfo_button_1{
	margin-left: 250px;
	padding: 20px 50px;
}
.myinfo_button{
	margin-left: 20px;
	padding: 20px 50px;
}

.myinfo_h1{
	font-weight: bold;
	font-size: 25px;
	margin-top: 100px;
	margin-left: 250px;
	margin-bottom: 50px;
	width: 1000px;
}

table, td, tr{
	padding: 10px 10px;
	border : 1px solid black;
}
.myInfo_box {
	display: inline-block;
	width: 500px;
}
.myInfo_line {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	flex-direction: row;
}
.myInfo_key {
	display: inline-block;
	width: 20%;
	text-align: left;
}
.myInfo_value {
	display: inline-block;
	width: 70%;
	text-align: left;
}