@charset "UTF-8";

.payment_title{
	font-weight: bold;
	font-size: 25px;
	margin-top: 50px;
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
}

.payment_user_h1{
	float:left;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 20px;
}

.payment_user_h2{
	
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 20px;
}

.payment_user_info_radio{
	float:left;
	margin-left: 20px;
}

.payment_payment_check{
	float:right;
	margin-top: 50px;
	height: 100%;
	width: 200px;
	border:2px solid gold;
	border-radius: 4px;
	padding: 20px;
}


.payment_payment_title{
	font-weight: bold;
	font-size: 15px;
}

.payment_payment_price{
	font-weight: bold;
	font-size: 30px;
}

.payment_payment_button{
	padding: 10px 40px;
}

.payment_info_list{
	
	width: 600px;
	height: 250px;
	font-weight: bold;
	font-size: 20px;
}
.payment_info_list_item{
	width: 800px;
	margin-bottom: 20px;
}

.payment_info_list_address_input{
	height: 30px;
	width: 500px;
	margin-left: 60px;
	
}

.payment_info_list_detail_address_input{
	height: 30px;
	width: 500px;
	margin-left: 20px;
}

.payment_info_list_callnum_input{
	height: 30px;
	width: 500px;
	margin-left: 20px;
}

.payment_info_list_user_input{
	height: 30px;
	width: 500px;
	margin-left: 60px;
}

.payment_cart_list{
	float:left;
	margin-top: 30px;
	width: 950px;
}

.cart_list_item{
	float:left;
	margin-bottom: 50px;
}

.cart_list_item_img{
	float:left;
	margin-right: 50px;
}

.cart_list_item_info{
	float:left;
	width: 300px;
}

.cart_list_item_author{
	float:left;
	margin-right: 30px;
}


.cart_list_item_price{
	float:left;
	margin-right: 50px;
	font-weight: bold;
}

.cart_payment_check{
	float:right;
	margin-top: 50px;
	height: 100%;
	width: 200px;
	border:2px solid gold;
	border-radius: 4px;
	padding: 20px;
}


.cart_payment_title{
	font-weight: bold;
	font-size: 15px;
}

.cart_payment_price{
	font-weight: bold;
	font-size: 30px;
}

.cart_payment_button{
	padding: 10px 40px;
}