@charset "UTF-8";

.search_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search_title{
	font-weight: bold;
	font-size: 2rem;
	margin: 50px 0px;
}
.search_box {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.left_module_title {
	font-weight: bold;
	font-size: 1.2rem;
}
.left_module{
	display: inline-flex;
	flex-direction: column;
	margin-right: 50px;
    width: 220px;
    max-width: 20%;
    height: 100%;
    max-height: calc(100vh - 120px);
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 20px 5px;
}
.book_search_list{
	display: inline-block;
	width: 80%;
}

.book_item{
	padding: 30px 0;
	border-top: 1px solid black;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	height: 300px;
}
.book_item_img{
	width: 150px;
}

.book_item_info{
	display: inline-block;
	display: -webkit-box;
	width: 60%;
	height: 100%;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-line-clamp: 10;
  	-webkit-box-orient: vertical;
 	line-height: 22px;
	max-height: 220px;
	margin-right: 10%;
}
.book_item_name {
	font-weight: bold;
	font-size: 1.2rem;
}
.book_button_wrap{
	width: 10%;
}

.book_button_cart{

}

.book_button_payment{

}