@charset "UTF-8";

#signUpContainer {
	min-width: 1050px;
    margin-top: 50px;
    margin-bottom: 60px;
}
#title {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 35px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -1px;
    color: rgb(51, 51, 51);
}
.css-mhmtvt {
    width: 640px;
    margin: 0px auto;
}
.css-rb0i47 {
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(51, 51, 51);
    font-size: 12px;
    color: rgb(102, 102, 102);
    line-height: 17px;
    text-align: right;
}
.css-y8aj3r {
    padding: 0px;
}
.css-1eo0fey {
    padding: 10px 0px;
    border-bottom: 1px solid rgb(51, 51, 51);
}
.css-y8aj3r {
    padding: 0px;
}
.css-137ca2h {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border-top: 1px solid rgb(247, 247, 247);
    padding: 40px 0px;
}
.css-qq9ke6 {
    color: rgb(238, 106, 123);
}
.css-1pjgd36 {
    display: inline-flex;
    width: 100%;
    padding: 10px 20px;
}
.css-1y8737n {
    width: 139px;
    padding-top: 12px;
}
.css-82a6rk {
    flex: 1 1 0%;
}
.css-1obgjqh {
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 20px;
}
.css-1w0ksfz > button {
    height: 44px;
    border-radius: 3px;
}
.css-1w0ksfz > button > span {
    font-weight: 500;
    font-size: 14px;
}
.css-ymwvow {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
.css-jmalg {
    padding-bottom: 0px;
}
.css-176lya2 {
    position: relative;
    height: 48px;
}
.css-1bkd15f {
    width: 100%;
    height: 46px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}
.css-ufulao {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 52px;
    border-radius: 3px;
    color: rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
}
.css-1schgvv {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 44px;
    border-radius: 4px;
    color: rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
}
.css-vukl2m {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
    color: rgb(102, 102, 102);
}
.css-14wodj6 > label > span {
    font-size: 14px;
}
.css-1schgvv > span {
    font-size: 14px;
    font-weight: 500;
}
.css-ymwvow {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
.css-1m3kac1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    vertical-align: middle;
}
.css-1wfsi82 {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
}
.css-agvwxo {
    overflow: hidden;
    position: absolute;
    clip: rect(0px, 0px, 0px, 0px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#idCheckBtn:disabled {
    border-color: rgb(221, 221, 221);
    color: rgb(221, 221, 221);
}
.css-shoa2s {
    padding: 10px 0px;
}
.css-1ozil7i {
    font-size: 13px;
    color: rgb(240, 63, 64);
    margin-top: -4px;
}
.css-1w0ksfz {
    width: 120px;
    margin-left: 8px;
}
.css-1dahn5m {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.css-14wodj6 > label > span {
    font-size: 14px;
}
.css-1dahn5m {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.css-z9g6s0 {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 0px 9px;
}
.css-14wodj6 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-around;
    flex-direction: row;
}
.css-1pes2r6 {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0px, 0px, 0px, 0px);
}
.css-5xw1m2 {
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-color: rgb(95, 0, 128);
}
.css-1vic0rk {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: white;
}
.css-198i9ca {
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
}
.css-1dahn5m {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.css-1dkwuq4 input {
    text-align: center;
    font-size: 14px;
    border: none;
}
.css-1368454 {
    width: 100%;
    height: 40px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}
.css-xsmgyi {
    position: relative;
    height: 40px;
}
.css-18n8lnw {
    height: 44px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    padding: 0px 15px;
}
.css-82a6rk {
    flex: 1 1 0%;
}
.css-ymwvow {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
.css-18m884r {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 240px;
    height: 56px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 0, 128);
    border: 0px none;
}